<!DOCTYPE html>
<html lang="en">
    <head>
        {% stack initial_stack %} 2 {% endstack %}
        {% stack empty_stack empty %}
    </head>
    <body>
        {% include 'via-include/stack.twig' %}
    </body>
</html>